<h4 class="header-text">
  <div class="font-style">{{name}} Grid</div>
</h4>
<div class="row header-line">
  <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12">
    <div *ngIf="isSearchRequired" class="search">
      <clr-icon shape="search"></clr-icon>
      <input #searchBox type="text" id="search_box" placeholder="Search among all grid fields" [(ngModel)]="searchValue" (keyup)="onSearch(searchBox.value)">
      <clr-icon shape="times" *ngIf="searchBox.value" (click)="searchValue = '';onClear(searchBox.value);" title="Clear input"></clr-icon>
    </div>
    <button *ngIf="isRefreshRequired" class="btn btn-icon refresh" (click)="searchValue = '';onRefresh()" title="Refresh">
      <clr-icon shape="refresh"></clr-icon>
    </button>
    <button *ngIf="isDeleteRequired" class="btn btn-icon delete" (click)="onBatchDelete()" title="Batch delete">
      <clr-icon shape="trash"></clr-icon>
    </button>
    <button *ngIf="isCreateRequired" class="btn btn-icon create" (click)="onCreate()" title="Create">
      <clr-icon shape="add"></clr-icon>
    </button>
    <button *ngIf="isCancelRequired" type="button" class="btn btn-icon cancel" (click)="onBatchCancel()" title="Cancel active workflows">
      <clr-icon shape="minus"></clr-icon>
    </button>
  </div>
</div>
