.header-line {
  margin-bottom: -25px;
  z-index: 9;
  .create {
      float: left;
  }
  .delete {
      float: left;
  }
  .refresh {
      float: left;
  }
  .cancel {
      float: left;
  }
  .search{
    float: right;
    margin-top: 16px;
  }
}

.header-text {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 12px;
  .font-style {
    font-weight: 600;
  }
}

.search {
  label {
    float: right;
  }
  input {
    float: right;
    width: 80%;
  }
  width: 20%;
}
