.header-line {
  margin-bottom: -25px;
  margin-right: 0;
  z-index: 9;
  .create {
    float: left;
  }
  .delete {
    float: left;
  }
  .refresh {
    float: left;
  }
  .cancel {
    float: left;
  }
  .search{
    float: right;
    width: 20%;
    margin-top: 16px;
    display: table;
    label {
      display: table-cell;
    }
    input {
      display: table-cell;
      width: 100%;
    }
    clr-icon {
      display: table-cell;
    }
  }
}

.header-text {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 12px;
  .font-style {
    font-weight: 600;
  }
}
