<div class="content-container offset-header">
  <!--Secondary nav bar-->
  <clr-vertical-nav style="background: #ddd;" [clrVerticalNavCollapsible]="true">
    <a clrVerticalNavLink routerLink="./activeWorkflow" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="nvme"></clr-icon>
      Active Workflow
    </a>
    <a clrVerticalNavLink routerLink="./historyWorkflow" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="history"></clr-icon>
      History Workflow
    </a>
    <a clrVerticalNavLink routerLink="./workflowViewer" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="view-cards"></clr-icon>
      Workflow Viewer
    </a>
    <a clrVerticalNavLink routerLink="./runWorkflow" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="play"></clr-icon>
      Run Workflow
    </a>

  </clr-vertical-nav>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
