<header class="header-6">
  <div class="branding">
    <a class="nav-link">
      <img src="../../assets/rackhd-icon.png" alt="">
      <span class="title" style="padding-left: 10px">RackHD</span>
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="managementCenter" routerLinkActive="active" class="nav-link"><span class="nav-text">Management Center</span></a>
    <a routerLink="workflowCenter" routerLinkActive="active" class=" nav-link"><span class="nav-text">Workflow Center</span></a>
    <a routerLink="solutionCenter" routerLinkActive="active" class="nav-link"><span class="nav-text">Solution Center</span></a>
  </div>
  <div class="header-actions">
    <div class="active nav-link nav-icon" (click)="openSetting=true" style="cursor:pointer" >
      <clr-icon shape="cog" title="Click to Setup RackHD Configurations"></clr-icon>
    </div>
  </div>
</header>
<clr-modal [(clrModalOpen)]="openSetting">
  <h3 class="modal-title">RackHD Configurations</h3>
  <div class="modal-body">
    <app-setting-form (onSave)='onSettingSave()'></app-setting-form>
  </div>
</clr-modal>
