<header class="header-6">
  <div class="branding">
    <a class="nav-link">
      <img src="../../assets/logo-icon.png" alt="">
      <span class="title" style="padding-left: 10px">Rack HD</span>
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="/managementCenter/nodes" [ngClass]="{'active':selectedTab == '/managementCenter'}" (click)="selectedTab = '/managementCenter'" class=" nav-link"><span class="nav-text">Management Center</span></a>
    <a routerLink="/operationsCenter/activeWorkflow" [ngClass]="{'active':selectedTab == '/operationsCenter'}" (click)="selectedTab = '/operationsCenter'" class=" nav-link"><span class="nav-text">Operations Center</span></a>
    <a routerLink="/workflowEditor" [ngClass]="{'active':selectedTab == '/workflowEditor'}" (click)="selectedTab = '/workflowEditor'" class=" nav-link"><span class="nav-text">Workflow Editor</span></a>
    <a routerLink="/solutionCenter" [ngClass]="{'active':selectedTab == '/solutionCenter'}" (click)="selectedTab = '/solutionCenter'" class=" nav-link"><span class="nav-text">Solution Center</span></a>
  </div>
  <div class="header-actions">
    <div class="active nav-link nav-icon" (click)="openSetting=true" style="cursor:pointer" >
      <clr-icon shape="cog"></clr-icon>
    </div>
  </div>
</header>
<clr-modal [(clrModalOpen)]="openSetting">
  <h3 class="modal-title">RackHD Configurations</h3>
  <div class="modal-body">
    <app-setting-form></app-setting-form>
  </div>
</clr-modal>
