@import "../../../../common/styles/colors.less";

.GraphCanvas {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.GraphCanvasView {
  position: relative;
  width: inherit;
  height: inherit;
  cursor: crosshair;
  overflow: hidden;
}

.GraphCanvasWorld {
  svg { overflow: visible !important; }

  canvas.rastors,
  svg.vectors,
  div.elements {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.GraphCanvasNode, .GraphCanvasLink {
  display: block;
  position: absolute;
}

.GraphCanvasNode {
  min-height: 90px;
  transition: box-shadow 0.5s;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.75);

  &:hover {
    z-index: 1;
  }

  &.active {
    background-color: rgb(127, 127, 127);
    background-color: rgba(127, 127, 127, 0.25);

    // .container { .header, .flipper { visibility: hidden; } }
  }

  &.flip .container .flipper {
    transform: rotateY(180deg);
  }

  .container {
    width: 100%;
    height: 100%;
    padding: 48px 0 0 0;
    position: relative;
    perspective: 1000;

    .header {
      color: black;
      background-color: rgb(127, 127, 127);
      background-color: rgba(127, 127, 127, 0.25);
      position: absolute;
      height: 48px;
      width: 100%;
      cursor: move;
      top: 0;
      border-bottom: 1px solid #ccc;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-align: center;

      span.name {
        font-size: 1.2em;
        line-height: 48px;
      }
    }

    .flipper, .front, .back {
      width: 100%;
      height: 100%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .flipper {
      width: 100%;
      height: 100%;
      transition: 0.25s;
      transform-style: preserve-3d;
      position: relative;
    }

    .front, .back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    .front {
      background: rgba(255, 0, 0, 0.25);
      z-index: 2;
      transform: rotateY(0deg);
    }

    .back {
      background: rgba(0, 0, 255, 0.25);
      transform: rotateY(180deg);
    }
  }
}

.GraphCanvasPort {
  clear: both;
  height: 48px;
  text-align: center;
  border-bottom: 1px solid #000;

  span.name {
    line-height: 48px;
  }
}

.GraphCanvasLink {
  path {
    pointer-events:all;
  }

  path:hover {
    stroke: red;
  }

  &.hover path {
    // stroke: blue;
  }
}
