.GraphCanvasView {
  position: relative;
  // width: 100%;
  // height: 100%;
  cursor: crosshair;
  overflow: hidden;

  .GraphCanvasWorld {
    svg {
      overflow: visible !important;
    }

    canvas.rastors,
    svg.vectors,
    div.elements {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
