.app-pollers{

    .grid-header {
      margin-bottom: -24px;
      .grid-toolbar{
        padding-top: 18px;
      }
    }

    clr-dg-footer {
      .select {
        margin-right: 36px;
      }
    }
    
    .header-button {
      .create {
          float: left;
      }
      .delete {
          float: left;
      }
      .refresh {
          float: left;
        }
      .search{
        float: right;
        padding: 1px;
        margin-top: 12px;
      }
    }
  }