<div class="app-pollers">

  <inventory-header [allItems]="allPollers" [name]="'Poller'"
    (action)="onAction($event)" (filter)="onFilter($event)">
  </inventory-header>

  <div class="inventory">
    <clr-datagrid [clrDgLoading]="dgDataLoading" [(clrDgSelected)]="selectedPollers">
      <clr-dg-placeholder>{{ dgPlaceholder }}</clr-dg-placeholder>
      <clr-dg-column [clrDgSortBy]="idComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">ID</ng-container>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="typeComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">Type</ng-container>
        <clr-dg-string-filter  [clrDgStringFilter]="typeFilter">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="configComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">Command</ng-container>
        <clr-dg-string-filter  [clrDgStringFilter]="configFilter">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="pollIntervalComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">PollInterval</ng-container>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="failureCountComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">FailureCount</ng-container>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="pausedComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">Paused</ng-container>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="nodeComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">Node</ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="nodeFilter">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">LatestData</ng-container>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="lastStartedComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">LastStarted</ng-container>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="lastFinishedComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">LastFinished</ng-container>
      </clr-dg-column>

      <clr-dg-row *clrDgItems="let poller of pollerStore" [clrDgItem]="poller">
        <clr-dg-cell>{{poller.id}}</clr-dg-cell>
        <clr-dg-cell>{{poller.type}}</clr-dg-cell>
        <clr-dg-cell>{{poller.config['command']}}</clr-dg-cell>
        <clr-dg-cell>{{poller.pollInterval}}</clr-dg-cell>
        <clr-dg-cell>{{poller.failureCount}}</clr-dg-cell>
        <clr-dg-cell>{{poller.paused}}</clr-dg-cell>
        <clr-dg-cell>{{poller.node.split('/')[4]}}</clr-dg-cell>
        <clr-dg-cell>
          <div *ngIf="poller.latestData">
            <a (click)="showPollerLatestData(poller)">ShowData</a>
          </div>
        </clr-dg-cell>
        <clr-dg-cell>{{poller.lastStarted}}</clr-dg-cell>
        <clr-dg-cell>{{poller.lastFinished}}</clr-dg-cell>
        <clr-dg-action-overflow>
          <button class="action-item" (click)="willUpdate(poller)">Update</button>
          <button class="action-item" (click)="willDelete(poller)">Delete</button>
          <button class="action-item" (click)="goToDetail(poller)">Details</button>
        </clr-dg-action-overflow>
      </clr-dg-row>
      <clr-dg-footer>
        <inventory-footer></inventory-footer>
      </clr-dg-footer>
    </clr-datagrid>

    <div class="selected">
      Selected pollers:
      <span *ngFor="let poller of selectedPollers; let isLast = last">
        {{poller? poller.id : null}}{{isLast ? '' : ', '}}
      </span>
    </div>
  </div>

  <details-modal [(isPop)]="isShowDetail" [data]="selectedPoller"
    [title]="'poller ' + (selectedPoller && selectedPoller.id)">
  </details-modal>

  <details-modal [(isPop)]="isShowLatestData" [data]="currentLatestData"
    [title]="'latest data of poller ' + (currentPoller && currentPoller.id)">
  </details-modal>

  <clr-modal [(clrModalOpen)]="isCreatePoller" [clrModalSize]="'lg'">
    <h3 class="modal-title">Create poller</h3>
    <div class="modal-body">
      <form [formGroup]="pollerForm" novalidate>
        <section class="form-block">
          <div class="form-group">
            <label for="selects_1">Poller Type *</label>
            <ngx-select [items]="['ipmi', 'snmp']"  [allowClear]="'true'" formControlName="type"></ngx-select>
          </div>
          <div class="form-group">
            <label for="selects_2">Node *</label>
            <ngx-select [items]="allNodes"  [allowClear]="'true'" optionTextField="id"  optionValueField="id" formControlName="node"></ngx-select>
          </div>
          <div class="form-group">
            <label for="selects_3">Poll Interval</label>
            <ngx-select [items]="pollerInterval"  [allowClear]="'true'" formControlName="pollInterval"></ngx-select>
          </div>
          <div class="form-group">
            <label for="formFields">Config</label>
            <textarea id="formFields" rows="4" placeholder='{"command": "driveHealth"}' formControlName="config"></textarea>
            <div class="alertMessage" *ngIf="!jsonValid">
                Invalid JSON payload.
            </div>
          </div>
        </section>
      </form>
      <p class="warning">The fields with * are required</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="isCreatePoller = false; jsonValid = true;">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="createPoller();" [disabled]="pollerForm.status!='VALID'">Ok</button>
    </div>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="isUpdate" [clrModalSize]="'lg'">
    <h3 class="modal-title">Update Poller</h3>
    <div class="modal-body">
      <form id="pollerUpdateForm" [formGroup]="updateForm" novalidate>
        <section class="form-block">
          <div class="form-group">
            <label for="update_1">Poller Interval</label>
            <ngx-select [items]="pollerInterval"  [allowClear]="'true'" [formControl]="updateForm.controls['pollInterval']"></ngx-select>
          </div>
          <div class="form-group">
            <label for="update_2">Poller Paused</label>
            <ngx-select [items]="['true', 'false']"  [allowClear]="'true'" formControlName="paused"></ngx-select>
          </div>
        </section>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outlet" (click)="isUpdate = false">Cancel</button>
      <button type="button" class="btn btn-primary btn-danger" (click)="isUpdate = false; update();" [disabled]="updateForm.status!='VALID'">OK</button>
    </div>
  </clr-modal>

  <confirm-modal [(isPop)]="isDelete" title="pollers"
    (confirm)="onConfirm($event)" [data]="selectedPollers">
  </confirm-modal>

</div>
