<div class="app-inventory-list">
  <div class="row">
    <div class="offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1">
    </div>
    <div class="col-lg-10 row count-summary-bar">
      <div class="row col-lg-7 col-md-7 col-sm-7 col-xs-7">
        <div class="col-lg-3 count-summary"
          *ngFor="let type of deviceTypes"
          (click)="selectType(type)"
          [class.selected]="selectedType==type.displayName">
          <h2 class="count-number">{{ devicesTypeCountMatrix[type.identifier] || 0 }}</h2>
          <span class="count-text">{{ type.displayName }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 com-xs-10">
      <div class="row grid-header">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <h5><strong>Inventory Grid</strong></h5>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 grid-toolbar">
          <button class="btn btn-link refresh" (click)="refreshDatagrid()">
            <clr-icon shape="refresh"></clr-icon> refresh
          </button>
          <div class="search">
            <label for="search_box"><clr-icon shape="search"></clr-icon></label>
            <input #searchBox type="text" id="search_box" placeholder="" (keyup)="search(searchBox.value)">
          </div>
        </div>
      </div>

      <clr-datagrid [clrDgLoading]="dgDataLoading" [(clrDgSelected)]="selectedDevices">
          <clr-dg-column [clrDgSortBy]="idComparator">ID</clr-dg-column>
          <clr-dg-column [clrDgSortBy]="typeComparator">Type
            <clr-dg-string-filter
              [(clrFilterValue)]="typeFilterValue"
              [clrDgStringFilter]="typeFilter">
            </clr-dg-string-filter>
          </clr-dg-column>
          <clr-dg-placeholder>{{ dgPlaceholder }}</clr-dg-placeholder>
          <clr-dg-column [clrDgSortBy]="nameComparator">Name</clr-dg-column>
          <clr-dg-column [clrDgSortBy]="identifiersComparator">Identifiers</clr-dg-column>
          <clr-dg-column >OBM</clr-dg-column>
          <clr-dg-column >IBM</clr-dg-column>
          <clr-dg-column [clrDgSortBy]="skuComparator">SKU
            <clr-dg-string-filter
              [(clrFilterValue)]="skuFilterValue"
              [clrDgStringFilter]="skuFilter"></clr-dg-string-filter>
          </clr-dg-column>
          <clr-dg-column [clrDgSortBy]="discoveredTimeComparator">DiscoveredTime</clr-dg-column>
          <clr-dg-column [clrDgSortBy]="autoDiscoverComparator">AutoDiscover</clr-dg-column>

          <clr-dg-row *clrDgItems="let device of allDevices" [clrDgItem]="device" >
            <clr-dg-cell (click)="goToDetail(device)" >{{device.id}}</clr-dg-cell>
            <clr-dg-cell (click)="goToDetail(device)" >{{device.type}}</clr-dg-cell>
            <clr-dg-cell (click)="goToDetail(device)" >{{device.name}}</clr-dg-cell>
            <clr-dg-cell (click)="goToDetail(device)" >{{device.identifiers}}</clr-dg-cell>
            <clr-dg-cell (click)="goToDetail(device)" >{{device.obms | json}}</clr-dg-cell>
            <clr-dg-cell (click)="goToDetail(device)" >{{device.ibms | json}}</clr-dg-cell>
            <clr-dg-cell (click)="goToDetail(device)" >{{device.sku}}</clr-dg-cell>
            <clr-dg-cell (click)="goToDetail(device)" >{{device.discoveredTime}}</clr-dg-cell>
            <clr-dg-cell (click)="goToDetail(device)" >{{device.autoDiscover}}</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>
              <div class="row">
                  <label for="select_page_size">Select page size:</label>
                  <div class="select">
                    <select id="select_page_size" [(ngModel)]="selectedPageSize">
                        <option>15</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                  </div>
              </div>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
              of {{pagination.totalItems}} nodes
              <clr-dg-pagination #pagination [clrDgPageSize]="dgPageSize">
              </clr-dg-pagination>
          </clr-dg-footer>
      </clr-datagrid>
      <clr-modal [(clrModalOpen)]= "isShowDetail" [clrModalSize]="'xl'">
        <h3 class="modal-title">Details of this node</h3>
        <div class="modal-body">
          <pre>{{selectedDevice | json}}</pre>
          <!--tree-root [nodes]="selectedDevice"></tree-root-->
        </div>
      </clr-modal>
      <div class="selected">
          Selected Nodes: <span *ngFor="let node of selectedDevices">{{node? node.id : null}}, </span>
      </div>
    </div>
  </div>
</div>
