// learn from https://github.com/digitalocean/netbox/
// netbox/project-static/css/base.css

ul.rack_legend {
    float: left;
    list-style-type: none;
    margin-right: 6px;
    padding: 0;
    width: 30px;
}
ul.rack_legend li {
    color: #c0c0c0;
    display: block;
    font-size: 10px;
    height: 20px;
    overflow: hidden;
    padding: 5px 0;
    text-align: right;
}
div.rack_frame {
    float: left;
    position: relative;
}
ul.rack {
    border: 3px solid #404040;
    float: left;
    list-style-type: none;
    padding: 0;
    position: absolute;
    width: 230px;
}
ul.rack li {
    border-top: 1px solid #e0e0e0;
    display: block;
    font-size: 13px;
    height: 20px;
    overflow: hidden;
    text-align: center;
}

span.node-font{
    color: black;
}

