.workflow-editor {
  .float-right {
    float: right;
  }
  .workflow-json-operation {
    padding-bottom: 45px;
    display: inline-flex;
    width: 100%;
    p {
      float: right;
    }
    .workflow-editor {
      flex: 3;
    }
    .editor {
      margin-left: 15px;
      flex: 1;
      text-align: left;
      height: 100vh;
      border: none;
      #jsoneditor {
        height: 100vh !important;
      }
      .filter-line {
        margin-left: 0px;
        display: -webkit-inline-box;
        .editor-dropdown {
          margin-top: 18px;
          width: 85%;
        }
      }
    }
  }
  div.jsoneditor jsoneditor-mode-code {
    padding: 1px !important;
  }
}
