{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    // Strict mode
    "strict": [0, "global"],

    // Code style
    "indent": [1, 2, {"VariableDeclarator": 2}],
    "quotes": [2, "single"],
    "no-underscore-dangle": 0
  }
}
