.DS_Store
.vagrant
apps/*/config/custom.json
apps/*/node_modules
apps/tutorial
build
checkstyle-result.xml
dev/slush_app/node_modules
node_modules
npm-debug.log
servers/*/node_modules
servers/node_modules
xunit.xml
