[submodule "apps/graph_stream"]
	path = apps/graph_stream
	url = https://eos2git.cec.lab.emc.com/poultr2/graph_stream.git
[submodule "apps/handbook"]
	path = apps/handbook
	url = https://eos2git.cec.lab.emc.com/poultr2/handbook.git
