//Common scss for mangement center inventories;

.grid-item:hover {
  color: blue;
  cursor: pointer;
}
.inventory {
  margin-bottom: 4em;
  z-index: 0;

  .selected {
    margin-top: 1em;
  }
}

.status-button:hover {
  color: blue;
  cursor: pointer;
}

.status-header {
  padding-top: 0;
  margin-top: -25px;
  margin-bottom: 12px;
  .header-button {
    margin-bottom: -20px;
    cursor: pinter;
    z-index: 10;
  }
}
