//Common scss for mangement center inventories;

.header-text {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 8px;
}

.header-button {
  margin-bottom: -25px;
  z-index: 9;
  .create {
      float: left;
  }
  .delete {
      float: left;
  }
  .refresh {
      float: left;
    }
  .search{
    float: right;
    padding: 1px;
    margin-top: 12px;
  }
}

clr-dg-footer {
  .select {
    margin-right: 36px;
  }
}

.grid-item:hover {
  color: blue;
  cursor: pointer;
}
.inventory {
  margin-bottom: 4em; 
}
