//Common scss for mangement center inventories;

.grid-item:hover {
  color: blue;
  cursor: pointer;
}

.inventory {
  margin-top: 6px;
  margin-bottom: 4em;
  z-index: 0;
  .selected {
    margin-top: 1em;
  }
}

.status-header {
  margin-top: -25px;
  margin-bottom: 15px;
  margin-left: 5px;
  .selected {
    background-color: #e0e0e0;
  }
  .status-button:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
  .status-button {
    text-align: center;
    margin: 0 auto;
  }
  .font-bold {
    font-weight: 500;
    font-size: large;
  }
}

.alertMessage {
  color: red;
}

