.form-input {
  padding-top: 15px;
}
.input-width {
  width: 100%;
}
.button-align {
  float: right;
  margin-right: 2px;
}

div.row div {
  display: flex;
  label {
    white-space:nowrap
  }
}

label.required:after {
  color: #c92100;
  content: "\00a0\00a0*";
}

// For default bootstrap/clarity form-group
.row {
  div.form-group {
    display: table;
    label {
      display: table-cell;
    }
    clr-icon {
      display: table-cell;
      align: left;
    }
    input {
      display: table-cell;
    }
  }
}
