<div class="app-sku">

  <h5 class="header-text">
    <strong>SKU Grid</strong>
  </h5>

  <div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12 header-button">
      <div class="search">
        <label for="search_box">
          <clr-icon shape="search"></clr-icon>
        </label>
        <input #searchBox type="text" id="search_box" placeholder="" (keyup)="search(searchBox.value)">
      </div>
      <button class="btn btn-icon refresh" (click)="refreshDatagrid()" title="Refresh">
        <clr-icon shape="refresh"></clr-icon>
      </button>
      <button class="btn btn-icon delete" (click)="willDelete()" title="Batch delete">
        <clr-icon shape='trash'></clr-icon>
      </button>
      <button class="btn btn-icon create" (click)="willCreateSku()" title="Add">
        <clr-icon shape='add'></clr-icon>
      </button>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12 inventory">
      <clr-datagrid [clrDgLoading]="dgDataLoading" [(clrDgSelected)]="selectedSkus">
        <clr-dg-column [clrDgSortBy]="idComparator">ID</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="nameComparator">Name
          <clr-dg-string-filter [(clrFilterValue)]="nameFilterValue" [clrDgStringFilter]="nameFilter">
          </clr-dg-string-filter>
        </clr-dg-column>
        <clr-dg-column [clrDgSortBy]="discoveryGraphNameComparator">DiscoveryGraphName
          <clr-dg-string-filter [(clrFilterValue)]="discoveryGraphNameFilterValue" [clrDgStringFilter]="discoveryGraphNameFilter">
          </clr-dg-string-filter>
        </clr-dg-column>
        <clr-dg-column>DiscoveryGraphOptions</clr-dg-column>
        <clr-dg-column>Rules</clr-dg-column>
        <clr-dg-column>SkuConfig</clr-dg-column>

        <clr-dg-row *clrDgItems="let sku of allSkus" [clrDgItem]="sku">
          <clr-dg-cell>{{sku.id}}</clr-dg-cell>
          <clr-dg-cell>{{sku.name}}</clr-dg-cell>
          <clr-dg-cell>{{sku.discoveryGraphName}}</clr-dg-cell>
          <clr-dg-cell (click)="getChild('discoveryGraphOptions', sku)">
            <u class="grid-item">DiscoveryGraphOptions</u>
          </clr-dg-cell>
          <clr-dg-cell (click)="getChild('rules', sku)">
            <u class="grid-item">Rules</u>
          </clr-dg-cell>
          <clr-dg-cell (click)="getChild('skuConfig', sku)">
            <u class="grid-item">Configures</u>
          </clr-dg-cell>
          <clr-dg-action-overflow>
            <button class="action-item" (click)="willUpdate(sku)">Update</button>
            <button class="action-item" (click)="willDelete(sku)">Delete</button>
            <button class="action-item" (click)="goToDetail(sku)">Details</button>
          </clr-dg-action-overflow>
        </clr-dg-row>
        <clr-dg-footer>
          <div class="row">
            <label for="select_page_size">Select page size:</label>
            <div class="select">
              <select id="select_page_size" [(ngModel)]="selectedPageSize">
                <option>15</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
              </select>
            </div>
          </div>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} allPollers
          <clr-dg-pagination #pagination [clrDgPageSize]="dgPageSize">
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
      <clr-modal [(clrModalOpen)]="isShowDetail" [clrModalSize]="'lg'">
        <h3 class="modal-title">Details of the sku info</h3>
        <div class="modal-body">
          <pre>{{selectedSku | json}}</pre>
        </div>
      </clr-modal>

      <clr-modal *ngIf="isCreateSku" [(clrModalOpen)]="isCreateSku" [clrModalSize]="'lg'">
        <h3 class="modal-title">Create SKU</h3>
        <div class="modal-body">
          <div class="form-group">
              <label>Choose how to create sku</label>
              <div class="radio-inline">
                  <input type="radio" name="gridRadios" id="skuPack" [checked]='!isSkuOnly' (change)="onRadioChange()">
                  <label for="skuPack">SKU pack</label>
              </div>
              <div class="radio-inline">
                  <input type="radio" name="gridRadios" id="skuOnly" [checked]='isSkuOnly' (change)="onRadioChange()">
                  <label for="skuOnly">SKU only</label>
              </div>
          </div>
          <div *ngIf="!isSkuOnly" class="form-group">
            <label for="fileInput">Choose File</label>
            <input type="file" (change)="onChange($event)" id="fileInput">
          </div>
          <form *ngIf="isSkuOnly" [formGroup]="skuForm" novalidate>
            <section class="form-block">
              <div class="form-group">
                <label for="formFileds_1">name</label>
                <input type="text" id="formFileds_1" formControlName="name">
              </div>
              <div class="form-group">
                <label for="formFileds_2">discoveryGraphName</label>
                <input type="text" id="formFileds_2" formControlName="discoveryGraphName">
              </div>
              <div class="form-group">
                <label for="formFileds_3">rules</label>
                <textarea id="formFields_3" rows="6" placeholder='[{
                    "path": "ohai.dmi.system.product_name",
                    "contains": "D51B-2U"
                    },{
                    "path": "ohai.dmi.system.manufacturer",
                    "contains": "Quanta"
                    }]' formControlName="rules"></textarea>
              </div>
              <div class="form-group">
                <label for="formFileds_4">discoveryGraphOptions</label>
                <textarea id="formFields" rows="4" placeholder='{}' formControlName="discoveryGraphOptions"></textarea>
              </div>
            </section>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="isCreateSku = false">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="isCreateSku = false; isSkuOnly ? createSku() : createSkupack();">OK</button>
        </div>
      </clr-modal>

      <clr-modal *ngIf="isDelete" [(clrModalOpen)]="isDelete" [clrModalSize]="'lg'">
        <h3 class="modal-title">Are you sure to delete below SKUs</h3>
        <div class="modal-body">
          <span *ngFor="let sku of selectedSkus; let isLast = last">
            {{sku? sku.id : null}}{{isLast ? '' : ', '}}
          </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outlet" (click)="isDelete = false">Cancel</button>
          <button type="button" class="btn btn-primary btn-danger" (click)="isDelete = false; delete();">OK</button>
        </div>
      </clr-modal>

      <clr-modal
        *ngIf="action ==='Rules' || action === 'Sku Config' || action === 'Discovery Graph Options'"
        [(clrModalOpen)]="isShowModal"
        [clrModalSize]="'xl'">
        <h3 class="modal-title">{{action}} for {{selectedSku[0].name}}</h3>
        <div class="modal-body">
          <pre>{{rawData | json}}</pre>
        </div>
      </clr-modal>
      <div class="selected">
        Selected SKUs:
        <span *ngFor="let sku of selectedSkus; let isLast = last">
          {{sku? sku.id : null}}{{isLast ? '' : ', '}}
        </span>
    </div>

  </div>
</div>
