.app-workflow-canvas {
  margin: 15px;
  .float-right {
    float: right;
  }
  .workflow-json-operation {
    padding-bottom: 45px;
    display: inline-flex;
    width: 100%;
    .workflow-editor {
      flex: 3;
    }
    .jsoneditor {
      p {
        padding: 5px;
        text-align: left;
        margin: 0;
      }
      margin-left: 15px;
      flex: 1;
      text-align: left;
      height: 100vh;
      border: none;
      #jsoneditor {
        height: 100vh !important;
      }
    }
  }
}

