  <div class="login-wrapper dec">
      <div class="branding">
          <label class="Title">
              <clr-icon shape="library"></clr-icon>
          </label>
          <h1>MARS</h1>
          <label class="copyright">
              © 2008-2017 Dell inc. or Its subsidlarles. All Rights Reserved.
          </label>
          <div class="dell-emc-logo"></div>
      </div>
      <form  [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="login">
          <div class="login-group">
              <div class="username" [class.float]="!userNameIsNull">
                  <input id="login_username" type="text" formControlName="user" (keyup)="loginInputChange()">
                  <label for="login_username">username</label>
              </div>
              <div class="password" [class.float]="!passwordIsNull">
                  <input id="login_password" class="password" type="password" formControlName="password" (keyup)="loginInputChange()">
                  <label for="login_password">password</label>
              </div>
              <div class="options">
                  <div class="checkbox">
                      <input type="checkbox" id="rememberme" formControlName="rememberMe">
                      <label for="rememberme">
                          Remember me
                      </label>
                  </div>
                  <a class="link" (click)="showForgetPasswordModal()" id="forgetpass">Forget your password?</a>
              </div>

              <clr-alert *ngIf="ifLoginSuccess===false && loginMessage"
                         [clrAlertClosable]="false" [clrAlertType]="'alert-danger'">
                <div clr-alert-item class="alert-item">
                  <span class="alert-text">
                      {{ loginMessage }}
                  </span>
                </div>
              </clr-alert>
              <clr-alert *ngIf="ifLoginSuccess && loginMessage"
                         [clrAlertClosable]="false" [clrAlertType]="'alert-info'">
                <div clr-alert-item class="alert-item">
                  <span class="alert-text">
                      {{ loginMessage }}
                  </span>
                </div>
              </clr-alert>
              <button type="submit"
                      [disabled]="loginForm.status!=='VALID'" class="btn btn-primary">LOG IN</button>
              <div class="text-center">
                  <a id="signup" href="signup">Create an account</a>
              </div>
          </div>
      </form>

      <clr-modal [(clrModalOpen)]="fpOpen" [clrModalSize]="'lg'">
          <h3 class="modal-title">Retrieve your password</h3>
          <div class="modal-body">
              <p>Please input your register email here, a link for reseting password will be sent to this mail.</p>
              <input #inputPasswordResetEmail type="text" id="registerEmailInput" placeholder="Email"
                     (keyup)="resetEmailInputChange(inputPasswordResetEmail.value)" >
              <clr-alert *ngIf="ifPasswordResetSuccess===false && passwordResetMessage"
                         [clrAlertClosable]="false" [clrAlertType]="'alert-danger'">
                <div clr-alert-item class="alert-item">
                  <span class="alert-text">
                      {{ passwordResetMessage }}
                  </span>
                </div>
              </clr-alert>
              <clr-alert *ngIf="ifPasswordResetSuccess && passwordResetMessage"
                         [clrAlertClosable]="false" [clrAlertType]="'alert-info'">
                <div clr-alert-item class="alert-item">
                  <span class="alert-text">
                      {{ passwordResetMessage }}
                  </span>
                </div>
              </clr-alert>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline" (click)="fpOpen = false">Cancel</button>
              <button type="button" class="btn btn-primary" [disabled]="!fpInputValid"
                      (click)="resetPassword(inputPasswordResetEmail.value)">Ok</button>
          </div>
      </clr-modal>

  </div>
