<div class="app-nodes">

  <div class="row toolbar status-header">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 status-button"
      *ngFor="let type of nodeTypes"
      (click)="selectType(type)"
      [class.selected]="selectedType==type.displayName">
      <h2>{{ nodesTypeCountMatrix[type.identifier] || 0 }}</h2>
      <span class="font-bold">{{ type.displayName }}</span>
    </div>
  </div>

  <div class="grid-header">
    <inventory-header [allItems]="allNodes"
      [name]="'Node'"
      (action)="onAction($event)" (filter)="onFilter($event)">
    </inventory-header>
  </div>

  <div class="inventory">
    <clr-datagrid [clrDgLoading]="dgDataLoading" [(clrDgSelected)]="selectedNodes">
      <clr-dg-placeholder>{{ dgPlaceholder }}</clr-dg-placeholder>
      <clr-dg-column [clrDgSortBy]="idComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">ID</ng-container>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="typeComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">Type</ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="typeFilter" [(clrFilterValue)]="typeFilterValue">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="nameComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">Name</ng-container>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="identifiersComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">Identifiers</ng-container>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">OBM</ng-container>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">IBM</ng-container>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="skuComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">SKU</ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="skuFilter"></clr-dg-string-filter>
      </clr-dg-column>

      <clr-dg-row *clrDgItems="let node of nodeStore" [clrDgItem]="node">
        <clr-dg-cell>{{node.id}}</clr-dg-cell>
        <clr-dg-cell>{{node.type}}</clr-dg-cell>
        <clr-dg-cell>{{node.name}}</clr-dg-cell>
        <clr-dg-cell>{{node.identifiers}}</clr-dg-cell>
        <clr-dg-cell (click)="goToShowObmDetail(node)">
          <u *ngIf="node.obms && node.obms.length > 0" class="grid-item">{{node.obms ? node.obms.length : 0}} OBMs</u>
        </clr-dg-cell>
        <clr-dg-cell (click)="goToShowIbmDetail(node)">
          <u *ngIf="node.ibms && node.ibms.length > 0"  class="grid-item">{{node.ibms ? node.ibms.length : 0}} IBMs</u>
        </clr-dg-cell>
        <clr-dg-cell (click)="goToShowSkuDetail(node)">
          <u class="grid-item">{{node.sku ? node.sku.split('/')[4] : ''}}</u>
        </clr-dg-cell>
        <clr-dg-action-overflow class="more-action">
          <button class="action-item" (click)="willDelete(node)">Delete</button>
          <button class="action-item" (click)="goToDetail(node)">Details</button>
        </clr-dg-action-overflow>
      </clr-dg-row>
      <clr-dg-footer>
        <inventory-footer></inventory-footer>
      </clr-dg-footer>
    </clr-datagrid>

    <div class="selected">
      Selected nodes:
      <span *ngFor="let node of selectedNodes; let isLast = last">
        {{node? node.id : null}}{{isLast ? '' : ', '}}
      </span>
    </div>
  </div>

  <details-modal [(isPop)]="isShowDetail" [data]=selectedNode
    [title]="'node ' + (selectedNode && selectedNode.id)">
  </details-modal>

  <details-modal [(isPop)]="isShowObmDetail" [data]="selectedObms"
    [title]="'obm for node ' + (selectedObms && selectedObms[0] && selectedObms[0].node)">
  </details-modal>

  <details-modal [(isPop)]="isShowIbmDetail" [data]="selectedIbms"
    [title]="'ibm for node ' + (selectedIbms && selectedIbms[0] && selectedIbms[0].node)">
  </details-modal>

  <details-modal [(isPop)]="isShowSkuDetail" [data]="selectedIbms"
    [title]="'sku for node ' + (skuDetail && skuDetail.node)">
  </details-modal>

  <clr-modal [(clrModalOpen)]="isCreateNode" [clrModalSize]="'lg'">
    <h3 class="modal-title">Create Node</h3>
    <div class="modal-body">
      <form [formGroup]="nodeForm" novalidate>
        <section class="form-block">
          <div class="form-group">
            <label for="selects_1">Node Type</label>
            <div class="select aligned-width">
              <select id="selects_1" formControlName="type">
                <option></option>
                <option *ngFor="let type of selectableNodeTypes">
                  {{type.toLowerCase()}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="selects_3">Auto Discover</label>
            <div class="select aligned-width">
              <select id="selects_3" formControlName="autoDiscover">
                <option>true</option>
                <option>false</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="formFileds_1">Node Name</label>
            <input type="text" id="formFileds_1" formControlName="name">
          </div>

          <div class="form-group">
            <label for="formFields">Other Configures</label>
            <textarea id="formFields" rows="4"
              placeholder='{"ibms": [{"service": "snmp-ibm-service", "config": {"host": "10.1.1.1", "community": "public"}}]}'
              formControlName="otherConfig">
            </textarea>
            <div class="alertMessage" *ngIf="!jsonValid">
                Invalid JSON payload.
            </div>
          </div>
        </section>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="isCreateNode = false; jsonValid = true;">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="createNode()">OK</button>
    </div>
  </clr-modal>

  <confirm-modal [(isPop)]="isDelete" title="nodes"
    (confirm)="onConfirm($event)" [data]="selectedNodes">
  </confirm-modal>

</div>
