.app-nodes{
  @import "../shared/inventory";
  .status-button:hover {
    color: blue;
    cursor: pointer;
  }
  .status-header {
    padding-top: 0;
    margin-top: -25px;
    margin-bottom: 12px;
    .header-button {
      margin-bottom: -20px;
      cursor: pinter;
      z-index: 10;
    }
  }
}
