/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
/**
 * third party styles from node_modules global css
 */
@import './ngx-select.scss';
@import '../../node_modules/@clr/icons/clr-icons.min.css';
@import '../../node_modules/litegraph.js/css/litegraph.css';
@import '../../node_modules/jsoneditor/src/css/jsoneditor.css';
@import '../../node_modules/@clr/ui/clr-ui.min.css';

.content-container {
  overflow: auto;
}

.offset-header {
  height: -webkit-fill-available;
  margin-top: 60px;
}

.clear {
  clear: both;
}

.jsoneditor-menu {
  display: none;
}

div.jsoneditor-outer.has-status-bar {
  margin: 0;
  padding: 0;
}

div.jsoneditor-outer {
  position: static;
  width: 100%;
  height: 100%;
  margin: -35px 0 0 0;
  padding: 35px 0 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.jsoneditor-statusbar {
  line-height: 30px;
  height: 30px;
  text-align: left;
}

//.row{
//  margin: 0;
//}
