.App {
  .nav-logo {
    padding: 5px;
    font-weight: bold;
  }


  .right-icon {
    float: right;
    margin-top: 15px;
  }

  .content {
    background: white;
    padding: 70px 10px 50px 10px;
  }

  .footer {
    background: #444;
    padding: 10px;
    color: white;
  }
}
