<div class="app-active-workflows">

  <inventory-header [allItems]="allWorkflows" [name]="'Active Workflow'"
    [isDeleteRequired]="false" [isCreateRequired]="false" [isCancelRequired]="true"
    (action)="onAction($event)" (filter)="onFilter($event)">
  </inventory-header>

  <div class="inventory">
    <clr-datagrid [clrDgLoading]="dgDataLoading" [(clrDgSelected)]="selectedWorkflows">
      <clr-dg-placeholder>{{ dgPlaceholder }}</clr-dg-placeholder>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: true}">
          ID
        </ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="gridFilter.idFilter">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">
          InstanceID
        </ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="gridFilter.instanceIdFilter">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="gridComparator.nodeComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          Node
        </ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="gridFilter.nodeFilter">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="gridComparator.nameComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          Name
        </ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="gridFilter.nameFilter">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="gridComparator.injectableNameComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          InjectableName
        </ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="gridFilter.injectableNameFilter">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="gridComparator.domainComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          Domain
        </ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="gridFilter.domainFilter">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">
          Definition
        </ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="gridFilter.defintionFilter">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: true}">
          Context
        </ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="gridFilter.contextFilter">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column >
        <ng-container *clrDgHideableColumn="{hidden: false}">
          Tasks
        </ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="gridFilter.tasksFilter">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">
          Service
        </ng-container>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">
          Status
        </ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="gridFilter.statusFilter">
        </clr-dg-string-filter>
      </clr-dg-column>

      <clr-dg-row *clrDgItems="let workflow of workflowsStore" [clrDgItem]="workflow">
        <clr-dg-action-overflow>
          <button class="action-item" (click)="onCancel(workflow)">Cancel</button>
          <button class="action-item" (click)="onGetDetails(workflow)">Detail</button>
          <button class="action-item" (click)="gotoCanvas(workflow)">Canvas</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{workflow.id}}</clr-dg-cell>
        <clr-dg-cell>
          <span>
            {{workflow.instanceId}}
          </span>
        </clr-dg-cell>
        <clr-dg-cell>{{workflow.node}}</clr-dg-cell>
        <clr-dg-cell>{{workflow.name}}</clr-dg-cell>
        <clr-dg-cell >{{workflow.injectableName}}</clr-dg-cell>
        <clr-dg-cell>{{workflow.domain}}</clr-dg-cell>
        <clr-dg-cell (click)="getDefinition(workflow)">
          <u class="grid-item">Definition</u>
        </clr-dg-cell>
        <clr-dg-cell (click)="getChild('context', workflow)">
          <u class="grid-item">Context</u>
        </clr-dg-cell>
        <clr-dg-cell (click)="getChild('tasks', workflow)">
          <u class="grid-item">{{workflow.tasks.length}} tasks</u>
        </clr-dg-cell>
        <clr-dg-cell>{{workflow.serviceGraph}}</clr-dg-cell>
        <clr-dg-cell (click)="gotoCanvas(workflow)">
          <u class="grid-item">{{workflow.status}}</u>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <inventory-footer></inventory-footer>
      </clr-dg-footer>
    </clr-datagrid>

    <div class="selected">
      Selected Workflows:
      <span *ngFor="let workflow of selectedWorkflows; let isLast = last">{{workflow? workflow.instanceId : null}}{{isLast ? '' : ', '}}</span>
    </div>
  </div>

  <details-modal *ngIf="modalTypes.detailActions.indexOf(action) != -1"
    [(isPop)]="isShowModal" [data]="rawData" [dataType]="action" [title]="selectedWorkflow.injectableName">
  </details-modal>

  <confirm-modal *ngIf="modalTypes.alertActions.indexOf(action) != -1"
    [(isPop)]="isShowModal" title="active workflows" displayAttr="instanceId" action="cancel"
    (confirm)="onConfirm($event)" [data]="selectedWorkflows">
  </confirm-modal>

</div>
