Source: on-web-ui
Section: http
Priority: optional
Maintainer: Roland Poulter <roland.poulter@emc.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: on-web-ui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 on-http
Description:
 MonoRail web UI for on-http
