<div class="run-workflow">
  <h4 class="header-text">
    Run Workflow
  </h4>

  <div class='reminder'>
    The fields with * below are required!
  </div>
  <p class="run-workflow-row">
    <dropdown-group [data]="selNodeStore"
      [fields]="['id']" [labels]="['Node']" [columns]="[3]" isDefaultForm="true"
      (selected)="onNodeSelect($event)" (cleared)="onReset()">
    </dropdown-group>
  </p>

  <div class="col-md-7 col-xs-7 col-lg-7 filter-by clearfix">
    <label class="filter-title"><b>Filter Node</b></label>
    <section>
      <dropdown-group [data]="nodeStore"
        [fields]="filterFields" [labels]="filterLabels"
        [columns]="filterColumns" marginTop="15px"
        (selected)="onFilterSelect($event)" (cleared)="onFilterRefresh($event)">
      </dropdown-group>
    </section>
  </div>

  <div class="col-md-7 bottom-button clearfix">
    <button class="btn btn-primary" (click)="onReset()">Reset Filters</button>
  </div>

  <p class="run-workflow-row">
    <span class="col-md-3">
      <dropdown-group [data]="graphStore"
        [fields]="['injectableName']" [labels]="['Graph']" [columns]="[4]" isDefaultForm="true"
        (selected)="onGraphSelect($event)" (cleared)="onGraphRefresh()" [fieldsRequired]="[true]">
      </dropdown-group>
    </span>
  </p>
  <div class="col-md-7 json-editor">
    <p class="run-workflow-row"><label><b>Payload:</b></label></p>
    <div #jsoneditor id="jsoneditor"></div>
  </div>
  <div class="col-md-7 bottom-button clearfix">
    <button class="btn btn-success" (click)="goToRunWorkflow()"
      [disabled]="!(this.selectedGraph && this.selectedGraph.injectableName)">
      Run Workflow
    </button>
  </div>

  <clr-modal [(clrModalOpen)]="showModal" [clrModalSize]="'lg'">
    <h3 class="modal-title" *ngIf="showModal">{{modalInformation.title}}</h3>
    <div class="modal-body" *ngIf="showModal">
      <p>{{modalInformation.note}}</p>
    </div>
    <div class="modal-footer" *ngIf="showModal && modalInformation.type === 1">
      <button class="btn btn-outline" type="button" (click)="showModal = false">No</button>
      <button class="btn btn-primary" type="button" (click)="postWorkflow()">Yes</button>
    </div>
    <div class="modal-footer" *ngIf="showModal && modalInformation.type === 2">
      <button class="btn btn-outline" type="button" (click)="showModal = false">No</button>
      <button class="btn btn-primary" type="button" (click)="goToViewer()">Yes</button>
    </div>
  </clr-modal>
</div>
