.run-workflow {
  width: 100%;
  height: -webkit-fill-available;
  input[type=text]:not([readonly]) {
    background-size: 0 100%;
    transition: background-size .2s ease;
  }
  .header-text {
    font-weight: 600;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  position: relative;
  .header-text {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 25px;
  }
  .run-workflow-row {
    span {
      padding: 0;
    }
  }
  .operations {
    padding: 0;
  }
  .clearfix:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    line-height:0;
    visibility:hidden;
  }
  .bottom-button {
    padding: 0;
    margin-top: 10px;
    button {
      margin-right: 0;
      float: right;
    }
  }
  .filter-by{
    position: relative;
    border: 1px solid #aaaaaa;
    margin-top: 25px;
    padding: 20px;
    height: 5.5rem;
    button{
      float: right;
    }
  }
  .filter-title{
    position: absolute;
    padding: 0 10px;
    top: -10px;
    left: 10px;
    height: 20px;
    line-height: 20px;
    background: #fafafa;
  }
  .filter-content {
    padding-right: 100px;
  }
  .json-editor {
    padding-left: 0;
    padding-right: 0;
    .ace-jsoneditor.ace_editor{
      margin: 1px;
    }
  }
  .reminder {
    color: red;
  }
}
