.app-history-workflows {
    @import "../../management-center/shared/inventory";
  .status-header {
    padding-top: 0;
    margin-top: -25px;
    margin-bottom: 35px;
    .status-button {
      margin-bottom: -20px;
      cursor: pointer;
      z-index: 10;
    }
  }
}
