<div class="content-container row offset-bottom">
  <div class="col-md-12 col-xs-12 col-lg-12 title">
    <h4>OS Install</h4>
  </div>
  <div class='col-md-12 col-xs-12 col-lg-12 os-install-note'>
      The fields with * below are required!
  </div>
  <div class="col-md-12 col-xs-12 col-lg-12 bottom-gap">
    <dropdown-group [data]="selNodeStore" [fields]="['id']" [columns]="[4]" id="dropdown-group-0"
      [labels]="['Node']" [labelBold]="false" [fieldsRequired]="[true]" isDefaultForm="true"
      (selected)="onNodeSelect($event)" (cleared)="onReset()">
    </dropdown-group>
  </div>

  <div class="col-sm-7 col-md-7 col-lg-7 form-padding-right">
    <div class="filter-by">
      <label class="filter-title">
        <b>Filter Node</b>
      </label>
      <section>
        <dropdown-group [data]="nodeStore" [fields]="filterFields" [labels]="filterLabels"
          [columns]="filterColumns" [labelBold]="false" marginTop="15px" id="dropdown-group-0"
          (selected)="onFilterSelect($event)" (cleared)="onFilterRefresh()">
        </dropdown-group>
      </section>
    </div>
  </div>

  <div class="col-md-7 bottom-button">
    <button class="btn btn-primary" (click)="onReset()">Reset Filters</button>
  </div>

  <div class="col-sm-7 col-md-7 col-lg-7 form-padding-right">
    <form class="compact" [formGroup]="payloadForm" novalidate>
      <section class="form-block my-form-block bottom-gap">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 com-xs-6">
            <div class="form-group">
              <label for="selects_1" class="required" [class.invalid]="formClassInvalid('osType')">OS Type
              </label>
              <div class="select">
                <select id="selects_1" formControlName="osType" (change)="onChangeOsType($event.target.value)">
                  <option></option>
                  <option *ngFor="let type of allOsTypes;">{{ type }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 com-xs-6">
            <div class="form-group">
              <label for="selects_2" class="required" [class.invalid]="formClassInvalid('version')">Version
              </label>
              <div class="select">
                <select id="selects_2" formControlName="version">
                  <option></option>
                  <option *ngFor="let version of OS_TYPE_VERSION[payloadForm.value['osType']];">{{ version }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 com-xs-6">
            <div class="form-group">
              <label for="formFields_1" class="required" [class.invalid]="formClassInvalid('rootPassword')">Root Password</label>
              <label class="root-passowrd">
                <input type="text" id="formFields_1" formControlName="rootPassword">
              </label>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 com-xs-6">
            <div class="form-group">
              <label for="selects_4">Install Disk</label>
              <div class="select">
                <select id="selects_4" formControlName="installDisk">
                  <option></option>
                  <option *ngFor="let diskName of diskOptions;">
                    {{ diskName }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-10 col-md-10 col-sm-10 com-xs-10">
            <div class="form-group">
              <label class="required os-install-repo">Repo URL</label>
              <label for="formFields_repo" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-md input-width" [class.invalid]="formClassInvalid('repoUrl')">
                <input class="input-width" type="text" id="formFields_repo" [placeholder]="selectedRepoPlaceHolder" formControlName="repoUrl">
                <span class="tooltip-content">
                  The input repo url is invalid!
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 com-xs-6">
            <div class="form-group">
              <label for="selects_5">Network Interface</label>
              <div class="select">
                <select id="selects_5" formControlName="networkDevice" (change)="onChangeNetworkDevice($event.target.value)">
                  <option></option>
                  <option *ngFor="let network of networkDeviceOptions;">
                    {{ network }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </section>

      <fieldset class="fieldset" [disabled]='!modifyDefaultSetting'>
        <legend [ngClass]="{'legend': true, 'disabled-label': !modifyDefaultSetting}">
          <b>Network Options</b>
        </legend>
        <section class="networkOptions">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 com-xs-6">
              <label class="required" [ngClass]="{'disabled-label': !modifyDefaultSetting}" for="formFields_3">
                IP Address
              </label>
              <label [ngClass]="{'tooltip tooltip-validation' : modifyDefaultSetting}" [class.invalid]="formClassInvalid('ipAddress')">
                <input type="text" id="formFields_3" formControlName="ipAddress"/>
              </label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 com-xs-6">
              <label [ngClass]="{'disabled-label': !modifyDefaultSetting}" for="formFields_2">
                DNS Servers
              </label>
              <label [ngClass]="{'tooltip tooltip-validation' : modifyDefaultSetting}" [class.invalid]="formClassInvalid('dnsServers')">
                <input type="text" id="formFields_2" formControlName="dnsServers" placeholder="8.8.8.8, 8.8.4.4" />
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 com-xs-6">
              <label class="required" [ngClass]="{'disabled-label': !modifyDefaultSetting}" for="formFields_5">
                Netmask
              </label>
              <label [ngClass]="{'tooltip tooltip-validation' : modifyDefaultSetting}" [class.invalid]="formClassInvalid('netmask')">
                <input type="text" id="formFields_5" formControlName="netmask"/>
              </label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 com-xs-6">
              <label class="required" [ngClass]="{'disabled-label': !modifyDefaultSetting}" for="formFields_4">
                Gateway
              </label>
              <label [ngClass]="{'tooltip tooltip-validation' : modifyDefaultSetting}" [class.invalid]="formClassInvalid('gateway')">
                <input type="text" id="formFields_4" formControlName="gateway" />
              </label>
            </div>
          </div>
        </section>
      </fieldset>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!enableSavePayload" (click)="createPayload();">Generate Payload</button>
      </div>
    </form>
  </div>

  <div class="col-sm-7 col-md-7 col-lg-7 form-padding-right">
    <label>
      <b>Payload:</b>
    </label>
    <div class="json-editor" #jsoneditor id="jsoneditor"></div>
    <div class="modal-footer offset-bottom">
      <button type="button" [disabled]="!enableOsinstall" class="btn btn-danger " (click)="onConfirmSubmited()" title="submit workflow">Submit</button>
    </div>
  </div>

  <clr-modal [(clrModalOpen)]="submitSuccess" [clrModalSize]="'xm'">
    <h3 class="modal-title">You have submitted an OS install workflow successfully.</h3>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="confirmSubmited" [clrModalSize]="'xm'">
    <h3 class="modal-title">Are you sure to submit the workflow ?</h3>
    <div class="modal-footer">
      <button class="btn btn-outline" type="button" (click)="confirmSubmited = false">No</button>
      <button class="btn btn-primary" type="button" (click)="onSubmit()">Yes</button>
    </div>
  </clr-modal>

</div>
