<div class="workflow-viewer">
  <h4 class="header-text">
    Workflow Viewer
  </h4>

  <div class="search-form">
    <dropdown-group [data]="allWorkflows"
      [fields]="fieldList" [labels]="labelList" [offsets]="offsetList"
      [columns]="columnList" [needReset]="true" [widths]="widthList"
      (selected)="onSelected($event)" (cleared)="onRefresh($event)">
    </dropdown-group>
  </div>

  <div class="row canvas">
    <app-canvas-graph
      [onWorkflowInput]='onWorkflowInput'
      [editable]=false>
    </app-canvas-graph>
  </div>
</div>
