<clr-modal [(clrModalOpen)]="isPop" [clrModalSize]="size">
<h3 class="modal-title">Are you sure to {{action}} below {{title}}?</h3>
  <div class="modal-body">
    <span *ngFor="let item of data; let isLast = last">
      {{item ? item[displayAttr] : null}}{{isLast ? '' : ', '}}
    </span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="onReject()">No</button>
    <button type="button" class="btn btn-primary" (click)="onAccept()">Yes</button>
  </div>
</clr-modal>
