.template-app{
    .header-text {
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 8px;
    }
    .header-button {
      margin-bottom: -25px;
      .create {
          float: left;
      }
      .refresh {
          float: left;
      }
      .search{
        float: right;
        padding: 1px;
        margin-top: 12px;
      }
    }

    .grid-item:hover {
      color: blue
    }

    .more-action {
      float: right;
    }


    clr-dg-footer {
      .select {
        margin-right: 36px;
      }
    }

  }
