.config-app{
  @import "../shared/inventory";
  .modal-input {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    input {
      width: 60%;
    }
  }
  .label-size {
    display: inline-block;
    width: 20%;
  }
}
