<div class="app-sku">

  <inventory-header [allItems]="allSkus" [name]="'SKU'"
    (action)="onAction($event)" (filter)="onFilter($event)">
  </inventory-header>

  <div class="inventory">
    <clr-datagrid [clrDgLoading]="dgDataLoading" [(clrDgSelected)]="selectedSkus">
      <clr-dg-column [clrDgSortBy]="idComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">ID</ng-container>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="nameComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">Name</ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="nameFilter">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="discoveryGraphNameComparator">
        <ng-container *clrDgHideableColumn="{hidden: false}">DiscoveryGraphName</ng-container>
        <clr-dg-string-filter [clrDgStringFilter]="discoveryGraphNameFilter">
        </clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">DiscoveryGraphOptions</ng-container>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">Rules</ng-container>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">SkuConfig</ng-container>
      </clr-dg-column>

      <clr-dg-row *clrDgItems="let sku of skuStore" [clrDgItem]="sku">
        <clr-dg-cell>{{sku.id}}</clr-dg-cell>
        <clr-dg-cell>{{sku.name}}</clr-dg-cell>
        <clr-dg-cell>{{sku.discoveryGraphName}}</clr-dg-cell>
        <clr-dg-cell (click)="getChild('discoveryGraphOptions', sku)">
          <u class="grid-item">DiscoveryGraphOptions</u>
        </clr-dg-cell>
        <clr-dg-cell (click)="getChild('rules', sku)">
          <u class="grid-item">Rules</u>
        </clr-dg-cell>
        <clr-dg-cell (click)="getChild('skuConfig', sku)">
          <u class="grid-item">Configures</u>
        </clr-dg-cell>
        <clr-dg-action-overflow>
          <button class="action-item" (click)="willUpdate(sku)">Update</button>
          <button class="action-item" (click)="willDelete(sku)">Delete</button>
          <button class="action-item" (click)="goToDetail(sku)">Details</button>
        </clr-dg-action-overflow>
      </clr-dg-row>
      <clr-dg-footer>
        <inventory-footer></inventory-footer>
      </clr-dg-footer>
    </clr-datagrid>

    <div class="selected">
      Selected SKUs:
      <span *ngFor="let sku of selectedSkus; let isLast = last">
        {{sku? sku.id : null}}{{isLast ? '' : ', '}}
      </span>
  </div>

  <grid-details-modal [(isPop)]="isShowDetail" [data]="selectedSku"
    [title]="'SKU ' + (selectedSku && selectedSku.id)">
  </grid-details-modal>

  <grid-details-modal
    *ngIf="action ==='Rules' || action === 'Sku Config' || action === 'Discovery Graph Options'"
    [(isPop)]="isShowModal" [data]="rawdata" [dataType]="action" [title]="'SKU ' + selectedSku.name">
  </grid-details-modal>

  <clr-modal *ngIf="isCreateSku" [(clrModalOpen)]="isCreateSku" [clrModalSize]="'lg'">
    <h3 class="modal-title">Create SKU</h3>
    <div class="modal-body">
      <div class="form-group">
          <label>Choose how to create sku</label>
          <div class="radio-inline">
              <input type="radio" name="gridRadios" id="skuPack" [checked]='!isSkuOnly' (change)="onRadioChange()">
              <label for="skuPack">SKU pack</label>
          </div>
          <div class="radio-inline">
              <input type="radio" name="gridRadios" id="skuOnly" [checked]='isSkuOnly' (change)="onRadioChange()">
              <label for="skuOnly">SKU only</label>
          </div>
      </div>
      <div *ngIf="!isSkuOnly" class="form-group">
        <label for="fileInput">Choose File</label>
        <input type="file" (change)="onChange($event)" id="fileInput">
      </div>
      <form *ngIf="isSkuOnly" [formGroup]="skuForm" novalidate>
        <section class="form-block">
          <div class="form-group">
            <label for="formFileds_1">name</label>
            <input type="text" id="formFileds_1" formControlName="name">
          </div>
          <div class="form-group">
            <label for="formFileds_2">discoveryGraphName</label>
            <input type="text" id="formFileds_2" formControlName="discoveryGraphName">
          </div>
          <div class="form-group">
            <label for="formFileds_3">rules</label>
            <textarea id="formFields_3" rows="6" placeholder='[{
                "path": "ohai.dmi.system.product_name",
                "contains": "D51B-2U"
                },{
                "path": "ohai.dmi.system.manufacturer",
                "contains": "Quanta"
                }]' formControlName="rules"></textarea>
          </div>
          <div class="form-group">
            <label for="formFileds_4">discoveryGraphOptions</label>
            <textarea id="formFields" rows="4" placeholder='{}' formControlName="discoveryGraphOptions"></textarea>
          </div>
        </section>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="isCreateSku = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="isCreateSku = false; isSkuOnly ? createSku() : createSkupack();">OK</button>
    </div>
  </clr-modal>

  <clr-modal *ngIf="isDelete" [(clrModalOpen)]="isDelete" [clrModalSize]="'lg'">
    <h3 class="modal-title">Are you sure to delete below SKUs</h3>
    <div class="modal-body">
      <span *ngFor="let sku of selectedSkus; let isLast = last">
        {{sku? sku.id : null}}{{isLast ? '' : ', '}}
      </span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outlet" (click)="isDelete = false">Cancel</button>
      <button type="button" class="btn btn-primary btn-danger" (click)="isDelete = false; delete();">OK</button>
    </div>
  </clr-modal>

</div>
