<div class="main-container">

    <div class="content-container">
        <nav class="sidenav">
            <section class="sidenav-content">
                <section class="nav-group">
                    <label for="tabexample2">User Profiles</label>
                    <ul class="nav-list">
                        <li><a class="nav-link active">User Info</a></li>
                        <li><a class="nav-link">API Token(ToDo)</a></li>
                        <li><a class="nav-link">Location(ToDo)</a></li>
                        <li><a class="nav-link">Reset Password(ToDo)</a></li>
                    </ul>
                </section>
            </section>
        </nav>

        <div class="content-area">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <img width="100px" src="https://avatars0.githubusercontent.com/u/15384801?s=400&v=4">
                </div>
            </div>
            <div>
                <h4>Name</h4>
                <input  disabled  placeholder={{user.username}} >
            </div>
            <div>
                <h4>Email</h4>
                <input name="emailInput"   placeholder={{user.email}} #newEmail >
            </div>

            <div>
                <h4></h4>
            <button id="updateProfileBtn" class="btn btn-success" (click)="updateProfile( newEmail )" [class.disabled]="newEmail.invalid" >Update Profile</button>
            </div>
        </div>

    </div>
</div>

