.fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

.legend {
  display: block;
  padding: 0;
  line-height: inherit;
  width: auto;
}

.disabled-label {
  color: #565656;
  opacity: .4;
}

.float-right-local {
  float: right;
}

.input-width {
  width: 100%
}

.text-indicator {
  margin-left: 2em;
  font-size: 0.8em;
}

.token-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  padding-left: 9.5rem;
  margin-bottom: .5rem;
  font-size: .54167rem;
  letter-spacing: normal;
  line-height: 1rem;
  float: right;
}

.check-box {
  margin-bottom: 1em;
}

.add-bottom-margin {
  margin-bottom: 25px;
}

.reminder {
  font-style:oblique;
  color: red;
}
.error {
  margin-left: 2px;
  margin-top: -15px;
  font-size: 0.8em;
  width: 100%;
}
