<div class="container">
  <form [formGroup]="settingFormGroup" (ngSubmit)="onSubmit()" [hidden]="submitted" novalidate>
    <section class="form-block compact">
      <div class="form-group">
        <label for="rackhdApi">RackHD Northbound API</label>
        <label for="rackhdApi"
          aria-haspopup="true"
          role="tooltip"
          class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
          [class.invalid]="formClassInvalid('rackhdNorthboundApi')">
          <input type="text" id="rackhdApi"
            [placeholder]="settings.northboundApi"
            formControlName="rackhdNorthboundApi" >
          <span class="tooltip-content">
            Invalid Northbound API.
          </span>
        </label>
      </div>
      <div class="form-group">
        <label for="rackhdWs">RackHD Websocket API</label>
        <label for="rackhdWs"
          aria-haspopup="true"
          role="tooltip"
          class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
          [class.invalid]="formClassInvalid('rackhdWebsocketUrl')">
          <input type="text" id="rackhdWs"
            [placeholder]="settings.websocketUrl"
            formControlName="rackhdWebsocketUrl">
          <span class="tooltip-content">
            Invalid Websocket API.
          </span>
        </label>
      </div>
      <div class="form-group">
        <label for="rackhdElastic">RackHD Elasticsearch API</label>
        <label for="rackhdElastic"
          aria-haspopup="true"
          role="tooltip"
          class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
          [class.invalid]="formClassInvalid('rackhdElasticApi')">
          <input type="text" id="rackhdElasticApi"
            [placeholder]="settings.elasticSearchUrl"
            formControlName="rackhdElasticApi">
          <span class="tooltip-content">
           Invalid Elasticsearch API.
          </span>
        </label>
      </div>

      <div class="check-box" style="margin-bottom: 1em;">
        <clr-checkbox
          name="checkSecureEnable"
          id="secureConnEnable"
          [(clrChecked)]="settings.connSecured">
          Enable Secure Connections
        </clr-checkbox>
      </div>

      <div class="check-box" style="margin-bottom: 1em;">
        <clr-checkbox
          name="checkAuthEnable"
          id="authEnable"
          (change)="handleAuthEnabled($event.target.checked)"
          [(clrChecked)]="settings.authEnabled">
          Enable API Authentication
        </clr-checkbox>
      </div>

      <fieldset formGroupName="rackhdAuth" class="fieldset" [disabled]='!settings.authEnabled'>
        <legend [ngClass]="{'legend': true, 'disabled-label': !settings.authEnabled}">
          Authentication
        </legend>
        <div class="form-group" >
          <label for="rackhdUser"
            [ngClass]="{'disabled-label': !settings.authEnabled}">RackHD API Username</label>
          <label for="rackhdUser"
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
            [class.invalid]="formClassInvalid('rackhdAuth.rackhdUsername')">
            <input type="text" id="rackhdUser"
              formControlName="rackhdUsername">
            <span class="tooltip-content">
              Username required!
            </span>
          </label>
        </div>
        <div class="form-group">
          <label for="rackhdPwd"
            [ngClass]="{'disabled-label': !settings.authEnabled}">RackHD API Password</label>
          <label for="rackhdPwd"
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
            [class.invalid]="formClassInvalid('rackhdAuth.rackhdPassword')">
            <input type="password" id="rackhdPwd"
              formControlName="rackhdPassword">
            <span class="tooltip-content">
              Password required!
            </span>
          </label>
        </div>
        <div>
          <button type="button"
            class="btn btn-warning-outline"
            (click)="generateToken()"
            [disabled]="generateTokenDisabled()">Generate Token</button>
        </div>
        <div class="form-group">
          <label for="rackhdToken"
            [ngClass]="{'disabled-label': !settings.authEnabled}">RackHD API Auth Token</label>
          <input type="text" id="rackhdToken"
            formControlName="rackhdAuthToken">
        </div>
      </fieldset>
    </section>
    <div class="button-group float-right" role="group">
      <button type="button" class="btn btn-primary" (click)="resetSettings()">Default</button>
      <button type="submit"
        class="btn btn-success"
        [disabled]="saveButtonDisabled()">Save</button>
    </div>
  </form>
</div>
